
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#next
.next

#node_modules
node_modules

#dist
dist    

#serverless
.serverless

#serverless-offline
.serverless-offline

#serverless-dotenv-plugin
.serverless-dotenv-plugin

#ts-jest
.ts-jest


